
@{
    ViewBag.Title = "RegisterGroup";
}

<h2>RegisterGroup</h2>

<fieldset>
    <legend>Registration Form</legend>
    <ol>
        <!-------<li>
          
            </li> --->
       
    </ol>
    <input type="submit" value="Register" />
</fieldset>