<!--Fréttaveita-->

@{
    ViewBag.Title = "NewsFeed";
}

<h2>Fréttaveita</h2>

<div>
    @Html.Partial("_ToDoPartial")
</div>

@{
    var db = Database.Open("Group");
    var query = "SELECT * FROM Product";
}
