<!--Bætti við ProfilePage View svo það væri hægt að setja takka í banner   -Védís-->

@{
    ViewBag.Title = "Profile";
}

<h2>Heimasvæði</h2>

@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}


<div>
    @Html.Partial("_ToDoPartial")
</div>